name: update

on:
  schedule:
    - cron: "5 4 * * *"
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main

      - run: ./update.fish
        env:
          token: ${{ github.token }}
