name: update

on:
  schedule:
    - cron: "5 4 * * *"
  workflow_dispatch:
    inputs:
      force:
        description: "forces an update even if no new version is found"
        type: choice
        default: "false"
        options:
          - "true"
          - "false"

permissions:
  contents: read
  packages: write

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.update.outputs.version }}
    steps:
      - uses: actions/checkout@v6

      - run: ./check.sh
        id: update
        env:
          registry: ghcr.io/spotdemo4/cobalt-web
          token: ${{ github.token }}
          force: ${{ inputs.force }}

  build:
    needs: check
    runs-on: ubuntu-latest
    if: needs.check.outputs.version != ''
    steps:
      - uses: actions/checkout@v6

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          tags: ghcr.io/spotdemo4/cobalt-web:${{ needs.check.outputs.version }},ghcr.io/spotdemo4/cobalt-web:latest
          context: .
          push: true
