name: update

on:
  schedule:
    - cron: "5 4 * * *"
  workflow_dispatch:
    inputs:
      force:
        description: "forces an update even if no new version is found"
        type: choice
        default: "false"
        options:
          - "true"
          - "false"

permissions:
  contents: read
  packages: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main

      - run: ./update.fish
        env:
          token: ${{ github.token }}
          force: ${{ inputs.force }}
